<section class="login-screen">
  <div class="top-cta">
      <span>Já possui cadastro?</span>
      <a routerLink="/login" class="link">Faça o login aqui</a>
    </div>
  <div class="login-shell">


    <div class="logo-circle">
      <mat-icon>fitness_center</mat-icon>
    </div>
    <h1>Criar conta</h1>

    <mat-card class="login-card">
      <form
        (ngSubmit)="submit()"
        class="login-form"
        autocomplete="off"
      >
        <div class="form-row">
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>E-mail</mat-label>
            <input
              matInput
              type="email"
              [field]="signupForm.email"
              autocomplete="off"
            />
            <mat-error *ngIf="shouldShowError(signupForm.email) && hasError(signupForm.email, 'required')"
              >E-mail obrigatório</mat-error
            >
            <mat-error *ngIf="shouldShowError(signupForm.email) && hasError(signupForm.email, 'email')"
              >Digite um e-mail válido</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Data de nascimento</mat-label>
            <input
              matInput
              [matDatepicker]="birthPicker"
              [field]="signupForm.birthdate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="birthPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #birthPicker></mat-datepicker>
            <mat-error *ngIf="shouldShowError(signupForm.birthdate) && hasError(signupForm.birthdate, 'required')"
              >Data de nascimento é obrigatória</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Senha</mat-label>
            <input
              matInput
              type="password"
              [field]="signupForm.password"
              autocomplete="new-password"
            />
            <mat-error *ngIf="shouldShowError(signupForm.password) && hasError(signupForm.password, 'required')"
              >Senha obrigatóia</mat-error
            >
            <mat-error *ngIf="shouldShowError(signupForm.password) && hasError(signupForm.password, 'minLength')"
              >Mínimo de 6 caracteres</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="fill" class="full-width-input">
            <mat-label>Confirmar senha</mat-label>
            <input
              matInput
              type="password"
              [field]="signupForm.confirmPassword"
              autocomplete="new-password"
            />
            <mat-error *ngIf="shouldShowError(signupForm.confirmPassword) && hasError(signupForm.confirmPassword, 'required')"
              >Confirmação obrigatória</mat-error
            >
            <mat-error *ngIf="shouldShowError(signupForm.confirmPassword) && hasError(signupForm.confirmPassword, 'minLength')"
              >Mínimo de 6 caracteres</mat-error
            >
            <mat-error *ngIf="shouldShowError(signupForm.confirmPassword) && hasError(signupForm.confirmPassword, 'passwordMismatch')"
              >Senhas não conferem</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-row span-2">
          <app-body-metrics
            [field]="signupForm.bodyMetrics"
            [errors]="signupForm.bodyMetrics().errors()"
            [touched]="signupForm.bodyMetrics().touched()"
          ></app-body-metrics>
        </div>

        <button
          mat-flat-button
          class="signin-btn span-2"
          type="submit"
          [disabled]="signupForm().invalid()"
        >
          Criar conta
        </button>
      </form>
    </mat-card>
  </div>
</section>
