<section class="login-screen">
  <div class="login-shell">
    <div class="logo-circle">
      <mat-icon>fitness_center</mat-icon>
    </div>
    <h1>Entrar no Fitness Track</h1>

    <mat-card class="login-card">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="execLogin()"
        class="login-form"
        autocomplete="off"
      >
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Usuário ou e-mail</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            autocomplete="off"
          />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
            >E-mail obrigatório</mat-error
          >
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
            >Digite um e-mail válido</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            autocomplete="new-password"
          />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
            >Senha obrigatória</mat-error
          >
        </mat-form-field>

        <div class="form-footer">
          <a href="#" class="link">Esqueceu a senha?</a>
        </div>

        <button
          mat-flat-button
          class="signin-btn"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Entrar
        </button>
      </form>
    </mat-card>

    <mat-card class="signup-card">
      <span>Novo por aqui?</span>
      <a href="#" class="link">Crie uma conta</a>
    </mat-card>
  </div>
</section>
