<h2 mat-dialog-title>Treino: {{ data.name }}</h2>

<mat-dialog-content>
  <div class="detail-content">
    <span class="detail-label">Exercícios</span>
    <table class="detail-table">
      <thead>
        <tr>
          <th>Exercício</th>
          <th>Sets</th>
          <th>Reps</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of data.exercises">
          <td>{{ exercise.exercise }}</td>
          <td>{{ exercise.sets }}</td>
          <td>{{ exercise.reps }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Fechar</button>
</mat-dialog-actions>
