@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  margin: 0;
}

/* Global font */
html,
body,
app-root {
  font-family: "Roboto", sans-serif;
}

input::placeholder,
textarea::placeholder,
.mat-mdc-input-element::placeholder {
  font-size: 0.3em;
}

.mat-mdc-form-field .mdc-floating-label,
.mat-mdc-form-field .mdc-floating-label--float-above {
  font-size: 0.75em !important;
}
